#header input[type=button]{
	float:right;
	margin-top: 10px;
	background-color:dodgerblue;
	border-color:dodgerblue;
	font-family: 'Roboto',sans-serif;
}



/*Стили для блока с авторизацией*/	
.block-1{
	background: url("images/128.jpg") no-repeat center center;
	background-size: cover;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
	padding: 30px 0 30px 0;
}

/*Заголовок*/
.hero-unit{
	
	font-family:'Lobster', cursive;
	color: dodgerblue;
	font-size:60px;
	
}

/*Ссылка на заголовке*/
.hero-unit a{
	color:dodgerblue;
}
.hero-unit a:hover{
	color:white;
	text-decoration: none;
}


/*Форма авторизации*/
#login {
	margin-left: 50px;
	padding: 10px 10px 10px 10px;
	width: 300px;
	height: 200px;
	background: #fff;
	opacity: 0.9;
	border-radius: 11px;
	font-family: 'Comfortaa',cursive;
	-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(36, 151, 224, 0.3);
	box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(36, 151, 224, 0.3);
}

#login p {
	margin: 12px 6px 0;
}

#login p:first-child {
	margin-top: 0;
}

#login input[type=text], #login input[type=password] {
	width: 260px;
	height: 30px;
	padding: 5px;
}

#login p.remember_me {
	float: left;
	line-height: 31px;
}

#login p.remember_me label {
	font-size: 12px;
	color: #777;
	cursor: pointer;
}

#login p.remember_me input {
	position: relative;
	bottom:3px;
	margin-right: 4px;
	vertical-align: middle;
}
#login p.submit {
	text-align: right;
}


/*Стили для блока с вопросами*/	
.block-2{
	background-color:#F5F5F5;
	
}

.block-2 .picture{
	margin-top: 30px;
}



/*Стили для блока с описанием*/	
.block-3{
	background: url("images/menu.jpg") repeat-x center center;
}

.text_left{
	position:relative;
	left:50%;
	background: rgba(255, 255, 255,0.9);
	border-radius: 8px;
}

.text_left h3{
	font-size: 30px;
	color:rgba(31, 197, 183, 0.74) ;
	padding:5px;
}



/*Стили для блока с картой*/
.block-4{
	background: url("images/maps.png") repeat-x center center;
	padding: 5px;
}

.block-4  p{
	color:#e74c3c;
}

.block-4  h3{
	font-size:30px;
	color: #000;
}

.block-4 .picture img{
	margin-top: 10px;
	max-width: 250px;

}	