#header input[type=submit]{
    float: right;
	margin-top: 10px;
}

/*Стили для блока с информацией о ресторане*/	
.passport{
    background: url("images/restoran.jpg") no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 0px !important;
}

.info{
    margin-top: 45px;
    font-size: 24px;
    color: #ffa71e;
    font-family: 'Comfortaa',cursive;
}
.info a{
    color: dodgerblue;
}
.info a:hover{
    text-decoration: none;
    color:white;
}

.licence{ margin-bottom: 15px; }

.licence img{ max-width: 150px; }

.menu{
    background-color:#F5F5F5;
    max-height: 500px;
    overflow: auto;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(36, 151, 224, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(36, 151, 224, 0.3);
    margin-bottom: 0px !important;
}



.menu table {
    font-family: 'Roboto', cursive;
    text-align: left;
    border-collapse: separate;
    border-spacing: 3px;
    background: #ECE9E0;
    border: 5px solid #ECE9E0;
    border-radius: 7px;
}

.menu th {
    font-size: 18px;
    padding: 5px;
    width: 300px;
}

.menu td {
    font-size: 15px;
    font-weight: bolder;
    background: #f1f1f3;
    padding: 10px;
    border-radius: 5px;
}

.menu td img{
    max-width: 150px;
}
.menu input[type=checkbox]{
    position: relative;
    left: 40px;
    opacity: 1;
}




.addDish{
    background: url("images/addDish.png") no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    padding-bottom: 15px;
    margin-bottom: 0px;
}

.addDish textarea{
    width: 270px;
    height: 96px;
    resize: none;
    padding: 7px;
}

.addDish input[type=text]{
	border: 1px solid rgb(255, 255, 255);
    height: 40px;
    line-height: 40px;
    width: 270px;
    letter-spacing: 0.7px;
    font-size: 12px;
    font-weight: 100;
    color: black;
    padding-left: 10px;
    margin-bottom: 15px;
}

.addDish input[type=file]{ display:none; }

.addDish label{
    position: relative;
    left: 240px;
    bottom: 51px;
}

.addDish input[type=submit]{
    margin-left: 35px;
  	display: inline-block;
    color: white;
    background: rgba(255,255,255,.2);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

.addDish input[type=submit]:hover { background: rgba(92, 184, 92, 0.7); }

.addDish input[type=submit]:active { background: white; }


.addDish form input[type=text] {
    color: #fff;
    border-color: #fff;
}

.addDish form input[type=text], .addDish form textarea{
    background-color: rgba(249, 249, 249, 0.78);
    font-family: 'Montserrat-Light';
    text-transform: none;
    font-style: normal;
}

.addDish input[type="text"]::-webkit-input-placeholder{
    color: #000;
    font-family:'Marmelad', sans-serif;
    }

.addDish input[type="text"]::-moz-placeholder{
    color: #000;
    font-family:'Marmelad', sans-serif;
    }

.addDish textarea::-webkit-input-placeholder{
    color: #000; 
    font-family:'Marmelad', sans-serif;
} 

.addDish textarea::-moz-placeholder{
    color: #000;
    font-family:'Marmelad', sans-serif;
}

.addDish h2{
    font-family:'Lobster',cursive;
    font-size: 45px;
    color: #ffa71e;
}

.picture img{
	max-width: 300px;
	position: relative;
	top:40px;
	left:130px;
}

.zag2{
    
    font-family:'Lobster',cursive;
    color: dodgerblue;
    font-size:45px;
}

/*Статистика*/
.stat{
    background-color:#F5F5F5;
    max-height: 500px;
    overflow: auto;
    padding: 0 100px 0 100px;
   
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(36, 151, 224, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(36, 151, 224, 0.3);
}

.stat table{
    font-family: 'Roboto', cursive;
    text-align: left;
    border-collapse: separate;
    border-spacing: 3px;
    background: #ECE9E0;
    color: #656665;
    border: 10px solid #ECE9E0;
    border-radius: 7px;
}

.stat th {
    font-size: 18px;
    padding: 5px;
}

.stat td {
    font-size: 15px;
    font-weight: bolder;
    background: #F5D7BF;
    padding: 10px;
}
