 .backgr{
    padding: 100px;
    margin: 0 auto;
    background: url("images/127.jpg") no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.regForm{
    margin:  0px auto;
    padding: 20px 20px 20px 20px;
    width: 600px;
    height: 500px;
    background: #fff;
    opacity: 0.95;
    border-radius: 11px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(36, 151, 224, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(36, 151, 224, 0.3);
    font-family: 'Comfortaa';
}


.regForm hr{
    width:500px;
}

.regForm p {
    margin: 10px 0 0;
}

.regForm p:first-child {
    margin-top: 0;
}

.regForm input[type=text], .regForm input[type=email]{
    width: 200px;
    height: 30px;
    padding:5px;
}

.regForm input[type=submit]{
    position: relative;
    left: 225px;
}

.regForm input[type=file]{
    display:none;
}

.regForm img{
    max-width: 20px;
}

.rekviz{
    position:relative;
    bottom:360px;
    right:40px;
    float:right;
    padding: 10px;
    width: 230px;
    height: 190px;
    background: #ecf5f7;
    opacity: 0.95;
    border-radius: 11px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(36, 151, 224, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(36, 151, 224, 0.3);
}

.rekviz h2{
    margin:0;
    font-size: 25px;
}
